<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.AddressBookMapper">
    <insert id="add">
        insert address_book(user_id, consignee, sex, phone, province_code, province_name, city_code, city_name, district_code, district_name, detail, label, is_default) VALUES
        (#{userId},#{consignee},#{sex},#{phone},#{provinceCode},#{provinceName},#{cityCode},#{cityName},#{districtCode},#{districtName},#{detail},#{label},#{isDefault})
    </insert>
    <update id="changeAddress">
        update address_book
        <set>
            consignee = #{consignee},
            sex = #{sex},
            phone = #{phone},
            province_code = #{provinceCode},
            province_name = #{provinceName},
            city_code = #{cityCode},
            city_name = #{cityName},
            district_code = #{districtCode},
            district_name = #{districtName},
            detail = #{detail},
            label = #{label}
        </set>
        <where>
            id = #{id}
        </where>
    </update>
    <select id="list" resultType="com.sky.entity.AddressBook">
        select * from address_book
        <where>
            <if test="userId != null">and user_id = #{userId}</if>
            <if test="isDefault != null">and is_default = #{isDefault}</if>
        </where>
    </select>
</mapper>
